@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
  margin:0px;
  padding: 0px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}
.logo img{
  width: 100px;
  
}
.popup{
  display: flex;
  align-items: center;
}
.popup-content{
  width: 420px;
  height: 480px;
  margin: -230px;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(14, 13, 13, 0.815);
  box-shadow: 5px 10px 30px rgba(15, 15, 15, 0.918);
  position: absolute;
  text-align: center;
}
.h3-register{
  color: #ffffff;
  font-size: 1.2rem;
text-transform: uppercase;
font-weight: 500;
}
.popup-btn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #000000;
  border: 2px solid rgba(198, 64, 64, 0.411);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.popup-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgba(198, 64, 64, 0.411);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.popup-btn:hover::before {
  scale: 3;
}

.popup-btn:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(198, 64, 64, 0.411);
}

.popup-btn:active {
  scale: 1;
}

/*.wrapper .login-popup{
  position: relative;
  transition: none;
  translate: 140px;
}
.wrapper .active .popup-content{
transition: none;
translate: -140px;
}
.wrapper .active .login-popup{
  transition: translate .18s ease;
  translate: 0;
  }*/
/*.active-popup{
  overflow: hidden;
}
*/
.input {
  margin: 10px;
  border: 2px solid transparent;
  width: 25em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #FF1414;
  box-shadow: 0px 0px 0px 7px rgba(198, 64, 64, 0.411);
  background-color: white;
}

#main{
  width:100%;
  height:800px;
  margin-top: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  z-index: 0;
}
#main::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
left: 0;
top: 0;
width:100%;
z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav.active{
box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
background-color: #ffffff;
}
nav ul{
display: flex;
}
.active{
  background-color: #FF1414;
  color:#ffffff;
box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
transition: all ease 0.2s;
}
.active:hover{
  color:#ffffff;
box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
transition: all ease 0.2s;
} 
nav ul li a{
  font-family: 'Lato';
height:40px;
line-height: 43px;
margin: 3px;
padding: 0px 22px;
display: flex;
font-size: 0.9rem;
text-transform: uppercase;
font-weight: 500;
color:#f70000;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover{
background-color: #FF1414;
  color:#ffffff;
box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
  display:none;
}
.header-heading{
  text-align: center;
font-family: 'Montserrat';
width: 900px;
position: absolute;
  left: 50%;
top: 55%;
transform: translate(-50%,-55%);
}
.header-heading span{
  color: #FF1414;
}
.header-heading .details{
  font-size: 23px;
  color: #c5c5c5;
}
.header-heading h2{
font-family:'Lato';
font-size: 2.7rem;
margin:0px;
letter-spacing: 2px;
color:#000000;
}
.header-heading h1{
font-family:'Lato';
font-size: 5rem;
margin:0px;
letter-spacing: 2px;
color:#ffffff;
}
.header-btns{
  display: flex;
  margin-top: 40px;
  margin-left: 40%;
}
.header-btn{
width:160px;
height: 50px;
display: flex;
justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #FF1414;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  border-radius: 5px;
color:#ffffff;
}
.header-btn:hover{
background-color: transparent;
  transition: all ease 0.5s;
  color: #FF1414;
  border: 2px solid #FF1414;
}

#features{
  width:100%;
  height:120vh;
  box-sizing: border-box;
  font-family:'Lato';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
  background-color: #000000;
}
#features h1{
  color: #fff;
  font-size: 3rem;
}
.a-container{
  display: flex;
  justify-content: center;
  align-content: center;


}
.a-box{
  background-color: #000000;
  width:250px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  position: relative;
}
.a-b-img{
  width: 100%;
  height: 60%;

}
.a-b-img img{
  padding: 15px;
  margin-top: 40px;
  width:100%;
  height: 50%;

}
.a-box:hover{
  border: 1px solid #FF1414;
  box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
}
.a-b-text{
  width: 100%;
  height: 40%;
  background-color:#000000;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.a-b-text h2{
  color: #fff;
}
.a-b-text p{
  margin: 0px;
  color:#ffffffa6;
  font-size: 1.1rem;
  font-family:'Lato';
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 5px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.a-b-text p:hover{
  color:#ffffff;
}
.a-b-text a{
  margin-top:15px ;
}
#presentaion{
  padding-top: 30px;
  width:100%;
  height:768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(components/images/logo1.jpeg);
  text-align: center;
}

.pr-heading{
  text-align: center;
font-family:'Lato';
width: 600px;
position: absolute;
  left: 50%;
top: 55%;
transform: translate(-50%,-55%);
}
.pr-heading span{
  color: #FF1414;
}
.pr-heading .details{
  font-size: 23px;
  color: #c5c5c5;
}
.pr-heading .details{
  font-size: 1.2rem;
}
.pr-heading h1{
font-family:'Lato';
font-size: 4rem;
margin:0px;
letter-spacing: 2px;
color:#ffffff;
}
.pr-btns{
  display: flex;
  margin-top: 40px;
  margin-left: 35%;
}
.pr-btn{
width:160px;
height: 50px;
display: flex;
justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #FF1414;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  border-radius: 5px;
color:#ffffff;
}
.pr-btn:hover{
background-color: transparent;
  transition: all ease 0.5s;
  color: #ffffff;
  border: 2px solid #FF1414;
}

#about{
  margin-top:100px ;
width:100%;
height: 120vh;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 5% 0px 5%;
position: relative;
}

.about-text{
  width: 45%;
  color: #fff;
  list-style: circle;
}
.about-text h1{
font-size: 3rem;
color:#FF1414;
  font-weight: 500;
  margin: 0px;
padding: 0px;
}
.about-text p{
  width: 80%;
font-size: 1.2rem;
color:#cecece;

}
.about-text button{
  margin-top: 20px;
width: 140px;
height: 45px;
border-radius: 10px;
border: none;
  outline: none;
  color: #ffffff;
background-color:#FF1414;
}
.about-text button:hover{
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
background-color: rgb(0, 0, 0);
  transition: all ease 0.3s;
  color: #ffffff;
}
.about-image{
  width: 50%;
}
.about-image img{
width: 600px;
}

#contact{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact h1{
  color: #fff;
  font-size: 3rem;
}
#contact form{
  width:600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#contact form input,
#contact form textarea{
  width:100%;
  height:50px;
  margin:5px 0px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #ffffff2d;
  color: #ffffff;
  border-radius: 5px;
}
#contact form textarea{
  height: 150px;
}
#contact form input[type="submit"]{
  height: 45px;
  background: linear-gradient(90deg, #FF1414 20%,#f70000);
  color: #ffffff;
  text-transform: uppercase;
}
@media(max-width:620px){
  #contact form{
      width:90%;
  }
}

@media(max-width:1190px){
#main{
  background-size: 1150px !important;
  
}
.header-heading{
  left: 50%;
  top: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
  }
  .header-heading h2{
      font-size: 1.5rem;
  }
  .header-heading h1{
      font-size: 3rem;
  }
  .header-heading .details{
      font-size: 1rem;
  }
  .pr-heading{
  left: 50%;
  top: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
  }
  .pr-heading h2{
      font-size: 1.5rem;
  }
  .pr-heading h1{
      font-size: 3rem;
  }
  .pr-heading .details{
      font-size: 1rem;
  }
.about-image img{
  height:400px;
  }
  #features{
  height:auto;
  }
  .a-container{
  flex-wrap: wrap;
}
  .a-box{
  flex-grow: 1;
}
  .a-b-img img{
  object-fit:contain;
  }
  
  

}

@media(max-width:970px){
#main{
  height: 650px;
}
.header-heading{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  }
  .pr-heading{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.about-image{
      display:none;
  }
  .header-btn{
      margin-left: 20%;
      margin-top: 20px;
  }
  .pr-btn{
      margin-left: 20%;
      margin-top: 20px;
  }
#about{
  justify-content: center;
      padding-top: 0px;
      text-align: center;
      
      margin-top: 0px;
}
.about-text{
      width: 90%;
}
.about-text h1{
  font-size:4rem;
  }
  .about-text p{
      width: 100%;
  }
  #features{
      margin-bottom: 100px;
  }
}
@media(max-width:600px){
.header-heading{
  width:60%;
  }
  .pr-heading{
  width:60%;
  }
}

@media(max-width:1100px){.menu-icon{
  display:block;}
      nav{
          justify-content: space-between;
          height: 65px;
          padding: 0px 30px;
      }
      .logo img{
          width:70px;
      }
      .header-btns{
          margin: 0;
      }
      .pr-btns{
          margin: 0;
      }
      .menu{
          display:none;
          position:absolute;
          top:65px;
          left:0px;
          background-color:#ffffff;
          border-bottom:4px solid #FF1414;
          width:100%;
          padding:0px;
          margin:0px;
      }
      .menu li{
          width:100%;
      }
      nav .menu li a{
          width:100%;
          height:40px;
          justify-content: center;
          align-items: center;
          margin:0px;
          padding: 25px;
          border:1px solid rgba(38,38,38,0.03);
      }
      nav .menu-icon{
          cursor:pointer;
          float:right;
          padding:28px 20px;
          position:relative;
          user-select: none;
      }
      nav .menu-icon .nav-icon{
          background-color:#FF1414;
          display:block;
          height:2px;
          position:relative;
          transition: background 0.2s ease-out;
          width:24px;
      }
      nav .menu-icon .nav-icon:before,
      nav .menu-icon .nav-icon:after{
          background:#FF1414;
          content:'';
          display:block;
          height:100%;
          position:absolute;
          transition:all ease-out 0.2s;
          width:100%;
      }
      nav .menu-icon .nav-icon:before{
          top:6px;
      }
      nav .menu-icon .nav-icon:after{
          top:-6px;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon{
          background:transparent;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
          transform: rotate(-45deg);
          top:0;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
          transform: rotate(45deg);
          top:0;
      }
      nav .menu-btn{
          display:none;
      }
      nav .menu-btn:checked ~ .menu{
          display:block;
      }}
      @media(max-width:400px){
          .a-box{
              width: 100%;
              height:400px;
          }
      }
